// header.component.scss
.header {
  padding: 1rem;
  background-color: #313C8C;
  color: #fff;

  .nav {
    display: flex;
    gap: 2.5rem;

    .nav-link {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;

      &.active-link {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.header__image{
  width: 150px;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 20px;
  font-weight: 500;
}