<!-- header.component.html -->
<header class="header">
  <div class="container flexCenterBetween">
    <a routerLink="/" routerLinkActive="active-link">
      <img class="header__image" src="assets/images/logo.png" alt="Логотип">
    </a>
    <nav class="nav">
      <a routerLink="/search" routerLinkActive="active-link" class="nav-link">Поиск</a>
      <a routerLink="/table" routerLinkActive="active-link" class="nav-link">Таблица</a>
      <a routerLink="/boxes" routerLinkActive="active-link" class="nav-link">Коробки</a>
    </nav>
    <button class="button">
      Войти
      <img class="image" src="assets/svg/login.svg" alt="">
    </button>
  </div>
</header>