// universal-table.component.scss
:host {
  display: block;
  width: 100%;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3rem;
  margin-bottom: 1rem;

  th,
  td {
    border: 1px solid #333;
    padding: 0.3rem 0.7rem;
    text-align: center;
  }

  th {
    cursor: pointer;
    user-select: none;
    background-color: #313C8C;
    text-align: center;
    color: #fff;
    padding: 0.5rem;
  }
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  button {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

tr {
  background-color: #fbfbfb;
}

tr:nth-child(even) {
  background-color: #ebebeb;
}

.open {
  display: flex;
  justify-content: end;
}

.button__open {
  background-color: #313C8C;
  padding: 10px 9px 9px 10px;
  border-radius: 0.5rem;
}

.image-open {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .search-input {
    padding: 0.6rem;
  }

  .search-button {
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 768px) {
  .table-container {
    padding: 0.5rem;
  }

  .table {
    margin-top: 1rem;
    font-size: 0.7rem;

    th,
    td {
      padding: 0.2rem 0.3rem;
    }
  }

  .button__open {
    padding: 6px 5px 5px 6px;
  }

  .image-open {
    width: 12px;
    height: 12px;
  }

}

@media (max-width: 450px) {
  .table-container {
    padding: 0.25rem;
  }

  .table {
    font-size: 0.6rem;
  }

  .image-open {
    width: 10px;
    height: 10px;
  }
}