// search.component.scss
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0.25rem;
}

.search-box {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.search-input {
  color: #000;
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #000000;
  border-radius: 0.5rem 0 0 0.5rem;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #313C8C;
  color: white;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #302576;
  }
}

@media (max-width: 768px) {
  .search-input {
    padding: 0.6rem;
  }

  .search-button {
    padding: 0.6rem 1.2rem;
  }
}