// applicant-modal.component.scss
.modal-overlay {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  /* Высокий z-index, чтобы перекрывать всё */
  pointer-events: auto;
  /* Позволяет кликать по оверлею */
}

.modal-content {
  width: 100%;
  max-width: 1220px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 10001;
  margin: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #313C8C;
  padding: 1rem;
}

.heared-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.close-btn {
  color: #fff;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  border: 3px solid #fff;
  padding: 0.1em 0.3em;
  border-radius: 0.33em;
}

.modal-body {
  width: 100%;
  max-width: 900px;
  padding: 0.5rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.modal-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.areas-title {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.change {
  margin-top: 3rem;
  background-color: #313C8C;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.change-title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0.33rem;
}

.change-li {
  width: 100%;
  background-color: #fff;
  padding: 0.33rem;
  border-radius: 0.2rem;
  border-bottom: 1px solid #555;
}

.change-li:nth-child(even) {
  background-color: #ebebeb;
}

@media (max-width: 768px) {

  .header {
    margin-bottom: .7rem;
    padding: 0.5rem;
  }

  .heared-title {
    font-size: 1.2rem;
  }

  .close-btn {
    font-size: 24px;
    border: 2px solid #fff;
    padding: 0.1em 0.3em;
  }

  .modal-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .areas-title {
    margin-top: 1rem;
  }

  .change {
    margin-top: 1rem;
    padding: 0.4rem;
  }

  .change-title {
    font-size: 1rem;
  }

  .change-li {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
  }

  .modal-body p {
    font-size: 0.8rem;
  }

}

@media (max-width: 450px) {
  .header {
    margin-bottom: .3rem;
    padding: 0.4rem;
  }

  .heared-title {
    font-size: 1rem;
  }

  .close-btn {
    font-size: 18px;
    border: 2px solid #fff;
    padding: 0.06em 0.2em;
  }

  .modal-title {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .areas-title {
    margin-top: 0.75rem;
  }

  .change {
    margin-top: 0.75rem;
    padding: 0.3rem;
  }

  .change-title {
    font-size: 0.8rem;
  }

  .change-li {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
  }

  .modal-body p {
    font-size: 0.7rem;
  }
}