// styles.scss
html,
body {
  min-height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  display: flex;
  flex-direction: column;
  position: relative;
}


* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}


@media (max-width: 750px) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 0.8rem;
  }
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 5px; // Уменьшаем отступы
  }

  @media (max-width: 480px) {
    padding: 0 2px; // Еще меньше отступов
  }
}

.flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}